/* 页面整体 */
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}


}
/* 页脚 */
footer {
    clear: both;
    display: block;
    margin: 0px auto;
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

/* 公司logo */
.logo {
    width: 50px;
}

/* 产品列表 */
.station-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.station-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.station-list li:last-child {
    border-bottom:none;
}

.station-list li:hover {
    background-color: #f8f9fa;
}

/* 卫星 */
.satellite {
    display: block;
    margin: 0 auto;
    height: 50px;
}