{% extends 'base.html' %}

{% block content %}
<p style="text-align:center">共{{ stations|length}}个站点</p>
<ul class="station-list" >
    {% for station in stations %} {# 迭代stations变量 #}
    <li>{{ station.stationid }}   {{ station.datainport }}  {{ station.comment }}</li>
        {% endfor %}
</ul>
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required>
    Year <input type="text" name="year" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
<img alt="Satellite" class="satellite" src="{{ url_for('static', filename='images/satellite.png')}}">
{% endblock %}