<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ regioncode }}站点列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_station.css')}}" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='RGZY.ico')}}">
</head>
<body>
    <h2 style="text-align:center">
        <img alt="Logo" class="logo" style="vertical-align:middle" src="{{ url_for('static', filename='images/logo.png')}}">
        {{ name }} 站点列表
    </h2>
    {# 使用length过滤器获取站点列表的变量的长度 #}
    <p style="text-align:center">共{{ stations|length}}个站点</p>
    <ul class="station-list" >
        {% for station in stations %} {# 迭代stations变量 #}
        <li>{{ station.stationid }}   {{ station.datainport }}  {{ station.comment }}</li>
        {% endfor %}
    </ul>
    <img alt="Satellite" class="satellite" src="{{ url_for('static', filename='images/satellite.png')}}">
    <footer style="text-align: center">
        <small><a style="text-align:center" href="http://www.realbeam.ltd">睿光智云2021</a></small>
    </footer>
</body>
</html>